<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <!-- //do display inline later -->
        <div class="dojoheader">
            <h1>Dojo Secrets</h1>
            <a href="/logout">Logout</a>
        </div>

        <div class="secretform">
            <div class="secretheader">
                <h4>Create a secret</h4>
            </div>
            <div class="secretformstyle">
                <form action="/secret" method="post">
                    <div class="form-group">
                        <label>Secret</label>
                        <input type="text" class="form-control" id="secret" name="secret" placeholder="Write your secret">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="secretsdiv">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th colspan="2"><h4>All the secrets</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let x of allsecrets) { %>
                    <tr>
                        <td><a href="/secret/<%= x._id %>"><%= x.secret %></a></td>
                        <td><% if (x.userid == session.userid) { %>
                                <a href="/secret/<%= x._id %>/destroy">Delete</a>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>


    </div>
    
</body>
</html>